footer{
    height: 20vh;
    background-color:black;
    color:white;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
footer a{
    color:white;
    text-decoration: none;
}
footer a:hover{
    color:goldenrod;
}
.ramlittle-logo{
    color: goldenrod;
    padding: 5px;
}
.ramlittle-logo:hover{
    color: white;
    text-decoration: underline;
}