@media screen and (max-width:767px){
    /* HEADER */
    header{
        flex-direction:column;
        height:auto;
    }
    .user-login-details small,
    .user-login-details strong,
    .header-anchor{
        display:none;
    }
    /* RECIPE LIST */
    .list-container{
        flex-direction:column;
    }
    .recipe-container{
        width:80%;
        height:auto;
    }
}